:root {
  --color-primary:#177da7;
  --color-primary-light: #5dc0e9;
  --color-primary-dark: #115b7a;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: rgb(167, 163, 163);
  --color-grey-dark-1: #34495e;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: rgb(95, 89, 89);
  --shadow-dark: 0 2rem 6rem rgba(0,0,0, .3);
  --shadow-light: 0 2rem 5rem rgba(0,0,0, .1); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  min-height: 100vh; }

.header {
  font-size: 2rem;
  height: 7rem;
  background-color: var(--color-primary-dark);
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (max-width: 31.25em) {
    .header {
      flex-wrap: wrap;
      align-content: space-around; } }

.container {
  display: flex; }
  @media only screen and (max-width: 37.5em) {
    .container {
      flex-direction: column; } }

.content {
  display: flex;
  height: 90vh; }
  @media only screen and (max-width: 56.25em) {
    .content {
      flex-direction: column; } }

.sidebar {
  background-color: var(--color-grey-dark-3);
  font-size: 2rem;
  color: white;
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

footer {
  font-size: 2rem;
  color: white;
  height: 7rem;
  background-color: var(--color-primary-dark); }

.logo-link {
  height: 100%; }
  .logo-link .logo {
    float: left;
    margin-top: 0;
    margin-left: 0;
    height: 100%; }
    @media only screen and (max-width: 37.5em) {
      .logo-link .logo {
        width: 15rem;
        height: 7.5rem; } }

.login-box {
  display: flex;
  list-style: none; }
  .login-box a {
    color: white;
    text-decoration: none; }
    .login-box a li {
      padding: 2rem;
      cursor: pointer; }
      @media only screen and (max-width: 37.5em) {
        .login-box a li {
          padding: .8rem; } }
      .login-box a li:hover {
        background-color: #4ebae7; }

.side-nav {
  font-size: 2rem;
  list-style: none;
  margin-top: 3.5rem; }
  @media only screen and (max-width: 37.5em) {
    .side-nav {
      display: flex;
      margin: 0; } }
  .side-nav__item {
    position: relative; }
    .side-nav__item:not(:last-child) {
      margin-bottom: .5rem; }
      @media only screen and (max-width: 37.5em) {
        .side-nav__item:not(:last-child) {
          margin-bottom: 0; } }
    @media only screen and (max-width: 37.5em) {
      .side-nav__item {
        flex: 1; } }
    .side-nav__item::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 3px;
      background-color: var(--color-primary);
      transform: scaleY(0);
      transition: transform 0.2s, width 0.3s cubic-bezier(1, 0, 0, 1) 0.1s;
      background-color: .1s; }
    .side-nav__item:hover::before {
      transform: scaleY(1);
      width: 100%; }
  .side-nav__link:link, .side-nav__link:visited {
    color: var(--color-grey-light-1);
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 37.5em) {
      .side-nav__link:link, .side-nav__link:visited {
        justify-content: center;
        padding: 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .side-nav__link:link, .side-nav__link:visited {
        flex-direction: column;
        padding: 1.5rem .5rem; } }

.legal {
  font-size: 1.2rem;
  color: var(--color-grey-light-4);
  text-align: center;
  padding: 2.5rem; }
  @media only screen and (max-width: 37.5em) {
    .legal {
      display: none; } }
