:root {
  --color-primary:#177da7;
  --color-primary-light: #5dc0e9;
  --color-primary-dark: #115b7a;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: rgb(167, 163, 163);
  --color-grey-dark-1: #34495e;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: rgb(95, 89, 89);
  --shadow-dark: 0 2rem 6rem rgba(0,0,0, .3);
  --shadow-light: 0 2rem 5rem rgba(0,0,0, .1); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  min-height: 100vh; }

.header {
  font-size: 2rem;
  height: 7rem;
  background-color: var(--color-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: .2rem solid black; }
  @media only screen and (max-width: 31.25em) {
    .header {
      flex-wrap: wrap;
      align-content: space-around; } }

.container {
  display: flex; }
  @media only screen and (max-width: 37.5em) {
    .container {
      flex-direction: column; } }

.content {
  min-height: 90vh;
  width: 100%; }

.sidebar {
  background-color: var(--color-grey-dark-3);
  font-size: 2rem;
  color: white;
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.footer {
  padding: 2rem 0;
  position: relative;
  background-color: var(--color-primary);
  color: white;
  text-align: center;
  font-size: 1.7rem;
  border-top: .2rem solid black; }
  .footer ul.social {
    padding-bottom: 1rem; }
    .footer ul.social li {
      display: inline;
      font-size: 3rem; }
      .footer ul.social li a i {
        color: white;
        padding: 0 1rem;
        transition: all .2s; }
        .footer ul.social li a i:hover {
          text-shadow: 0 0 .3rem white, 0 0 1.5rem white, 0 0 3rem white; }

.logo-link {
  height: 100%; }
  .logo-link .logo {
    float: left;
    margin-top: 0;
    margin-left: 0;
    height: 100%; }
    @media only screen and (max-width: 37.5em) {
      .logo-link .logo {
        width: 15rem;
        height: 7.5rem; } }

.login-box {
  display: flex;
  list-style: none; }
  .login-box a {
    color: white;
    text-decoration: none; }
    .login-box a li {
      padding: 2rem;
      cursor: pointer; }
      @media only screen and (max-width: 37.5em) {
        .login-box a li {
          padding: .8rem; } }
      .login-box a li:hover {
        background-color: #4ebae7; }

.side-nav {
  font-size: 2rem;
  list-style: none;
  margin-top: 3.5rem; }
  @media only screen and (max-width: 37.5em) {
    .side-nav {
      display: flex;
      margin: 0; } }
  .side-nav__item {
    position: relative; }
    .side-nav__item:not(:last-child) {
      margin-bottom: .5rem; }
      @media only screen and (max-width: 37.5em) {
        .side-nav__item:not(:last-child) {
          margin-bottom: 0; } }
    @media only screen and (max-width: 37.5em) {
      .side-nav__item {
        flex: 1; } }
    .side-nav__item::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 3px;
      background-color: var(--color-primary);
      transform: scaleY(0);
      transition: transform 0.2s, width 0.3s cubic-bezier(1, 0, 0, 1) 0.1s;
      background-color: .1s; }
    .side-nav__item:hover::before {
      transform: scaleY(1);
      width: 100%; }
  .side-nav__link:link, .side-nav__link:visited {
    color: var(--color-grey-light-1);
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 37.5em) {
      .side-nav__link:link, .side-nav__link:visited {
        justify-content: center;
        padding: 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .side-nav__link:link, .side-nav__link:visited {
        flex-direction: column;
        padding: 1.5rem .5rem; } }

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%; }

.welcome {
  margin-top: 6rem;
  color: black;
  border-bottom: .2rem solid black; }
  .welcome__title {
    background-color: var(--color-primary-dark);
    padding: 2rem;
    font-size: 5rem;
    font-weight: 300;
    box-shadow: 0.1rem 1rem 3rem grey;
    text-align: center;
    color: gold; }
    @media only screen and (max-width: 56.25em) {
      .welcome__title {
        padding: 1.5rem;
        font-size: 3.5rem; } }
    @media only screen and (max-width: 37.5em) {
      .welcome__title {
        padding: 1.5rem;
        font-size: 2.5rem; } }
  .welcome__text {
    margin: 3rem 1rem;
    color: black;
    font-size: 2rem; }

.posts {
  margin: 3rem auto;
  width: 70rem; }
  @media only screen and (max-width: 56.25em) {
    .posts {
      width: 60rem; } }
  .posts__post {
    font-size: 2rem;
    background-color: gainsboro;
    padding: 1rem;
    box-shadow: 0.1rem 1rem 3rem grey; }
    .posts__post__info {
      display: flex;
      align-content: center;
      justify-content: space-between;
      align-items: baseline; }
      @media only screen and (max-width: 37.5em) {
        .posts__post__info {
          flex-direction: column; } }
      .posts__post__info-title {
        font-size: 3rem;
        color: black;
        font-weight: 600; }
      .posts__post__info a {
        text-decoration: none; }
    .posts__post__content {
      display: flex;
      align-content: center;
      justify-content: space-between;
      margin-top: 2rem; }
      @media only screen and (max-width: 37.5em) {
        .posts__post__content {
          flex-direction: column; } }

.pages {
  margin-top: auto;
  margin-bottom: 3rem; }
  .pages ul li {
    display: inline;
    font-size: 2rem;
    margin: 0 1rem; }

.account__pic {
  margin: 3rem auto;
  width: fit-content; }

.account_info {
  width: 40rem;
  margin: 0 auto;
  font-size: 1.8rem; }
  .account_info__form {
    height: 22rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    .account_info__form__name {
      display: flex;
      justify-content: space-between; }
      .account_info__form__name__cell {
        margin-left: 1rem;
        flex: 1; }
    .account_info__form__email {
      display: flex;
      justify-content: space-between; }
      .account_info__form__email__cell {
        margin-left: 1rem;
        flex: 1; }
    .account_info__form__update {
      align-self: center; }
    .account_info__form__btn {
      font-size: 2rem;
      font-weight: 300;
      text-transform: uppercase;
      border-radius: 100px;
      border: none;
      background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
      color: #fff;
      padding: 1rem;
      cursor: pointer; }

.create__post {
  width: fit-content;
  margin: 3rem auto;
  height: 30rem; }
  .create__post__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 2rem;
    width: 50rem;
    height: 100%; }
    .create__post__form__title {
      flex: 1;
      margin-bottom: 2rem; }
      .create__post__form__title__form {
        height: 50%;
        width: 100%; }
    .create__post__form__text {
      flex: 3;
      margin-bottom: 3rem; }
      .create__post__form__text__form {
        height: 80%;
        width: 100%; }
    .create__post__form__create {
      align-self: center;
      flex: 1; }
    .create__post__form__btn {
      font-size: 2rem;
      font-weight: 300;
      text-transform: uppercase;
      border-radius: 100px;
      border: none;
      background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
      color: #fff;
      padding: 1rem;
      cursor: pointer;
      transition: all .2s; }
      .create__post__form__btn:hover {
        transform: translateY(-2px); }

.login {
  width: 60%;
  height: 15rem;
  margin: 10rem auto;
  font-size: 2rem; }
  .login__form {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between; }
    .login__form__cell {
      display: flex; }
      .login__form__cell input {
        flex: 1;
        margin-left: 1rem; }
    .login__form__submit {
      display: flex;
      justify-content: space-between; }
      .login__form__submit_btn {
        font-size: 2rem;
        font-weight: 300;
        text-transform: uppercase;
        border-radius: 100px;
        border: none;
        background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
        color: #fff;
        padding: 1rem;
        cursor: pointer;
        transition: all .2s; }
        .login__form__submit_btn:hover {
          transform: translateY(-2px); }

.register-hight {
  height: 25rem; }
