.header {
    font-size: 2rem;
    height: 7rem;
    background-color: var(--color-primary);

    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: .2rem solid black;

    @media only screen and (max-width: $bp-smallest) {
        flex-wrap: wrap;
        align-content: space-around;
    }
}

// flex container
.container {
    display: flex;

    @media only screen and (max-width: $bp-small) {
        flex-direction: column;
    }
}




.content {
    //display: flex;
    min-height: 90vh;
    width: 100%;

    // @media only screen and (max-width: $bp-medium) {
    //     flex-direction: column;
    // }
}

.sidebar {
    background-color: var(--color-grey-dark-3);
    font-size: 2rem;
    color: white;
    // (1)flex-grow (2)flex-shrink (3)flex bases
    flex: 0 0 18%; // %, so auto shrink

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.footer {
    padding: 2rem 0;
    position: relative;
    background-color: var(--color-primary);
    color: white;
    text-align: center;
    font-size: 1.7rem;
    border-top: .2rem solid black;
    
        ul.social {
        padding-bottom: 1rem;
        & li {
            display: inline;
            font-size: 3rem;
            & a i {
            color: white;
            padding: 0 1rem;
            transition: all .2s;
    
            &:hover {
                text-shadow: 0 0 .3rem white, 0 0 1.5rem white, 0 0 3rem white;
            }
            }  
        }
        } 
    }