{% extends "layout.html" %}
{% block content %}
  <div class="create__post">
    <form class="create__post__form" method="POST">
      {{ form.hidden_tag() }}
      <div class="create__post__form__title">
        {{ form.title.label(class="create__post__form__title__label") }}
        {{ form.title(class="create__post__form__title__form") }}
      </div>
      <div class="create__post__form__text">
        {{ form.text.label(class="create__post__form__text__label") }}
        {{ form.text(class="create__post__form__text__form") }}
      </div>
      <div class="create__post__form__create">
        {{ form.submit(class="create__post__form__btn") }}
      </div>

    </form>
  </div>
{% endblock %}