<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Social &mdash; Blog</title>
      <link rel="shortcut icon" type="image/png" href="../static/image/w.png">
      <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
  </head>
  <body>
    <header class="header">
        <a class="logo-link" href="https://weichenghung.com/">
          <img class="logo" src="https://user-images.githubusercontent.com/35472776/44683038-eb093480-a9f9-11e8-84ca-4fdfe1499ee8.png" alt="wilson-logo">
        </a>
        
        <div class="login-box">
          {% if current_user.is_authenticated %}
              <a href="{{ url_for('users.logout') }}"><li>LOG OUT</li></a>
          {% else %}
              <a href="{{ url_for('users.login') }}"><li>LOG IN</li></a>
              <a href="{{ url_for('users.register') }}"><li>REGISTER</li></a>
          {% endif %}
        </div>
        

    </header>

    <div class="container">
      <div class="sidebar">
          <ul class="side-nav">

              <li class="side-nav__item">
                <a class="side-nav__link" href="{{url_for('core.index')}}">Home</a>
              </li>

              <li class="side-nav__item">
                <a class="side-nav__link" href="{{url_for('core.info')}}">About</a>
              </li>
        
              {% if current_user.is_authenticated %}

              <li class="side-nav__item">
                <a class="side-nav__link" href="{{ url_for('users.account') }}">Account</a>
              </li>

              <li class="side-nav__item">
                <a class="side-nav__link" href="{{ url_for('blog_posts.create_post') }}">Create Post</a>
              </li>

              {% else %}
              {% endif %}
            </ul>

            <div class="legal">
              &copy; 2018 by Wei-Cheng, Hung. All rights reserved.
            </div>
      </div>


      <div class="content">
          {% block content %}
        
          {% endblock %}
      </div>
    </div>
    
<footer>
  Footer
</footer>


  </body>
</html>