{% extends "layout.html" %}
{% block content %}
<div class="login">
    <form class="login__form" method="POST">
        {{ form.hidden_tag() }}
        <div class="login__form__cell">
            {{ form.email.label }} {{ form.email }}<br>
        </div>
        <div class="login__form__cell">
            {{ form.password.label }} {{ form.password }}<br>
        </div>
        <div class="login__form__submit">
            <div>
                {{ form.submit(class="login__form__submit_btn") }}
            </div>
            
            <div class="login__form__submit_remeber">
                {{ form.remember.label }} {{ form.remember() }}
            </div>
            <a href="{{ url_for('users.reset_request') }}">Forgot Password?</a>
        </div>
        
        
        
        
    </form>
</div>

{% endblock %}